
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    height: 100vh;
}
header{
    text-align: center;
    line-height: 50px;
    background-color: rgb(33, 31, 31);
    border: 1px solid #211f1f;
    box-shadow:0 10px 20px 0px #211f1f;    
    color:#fff;
    height: 50px;
    h1{
        margin: 0;
        font-family: "Inconsolata-Regular";
        font-size: 1.5em;
    }
}
    
.card .details {
    position: relative;
    display: none
}
.card img {
    max-width: 250px;
    height: 220px;
    margin: 4% auto;
    display: block; 
}
.card h4 {
    margin: .5em auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    font-family: "Inconsolata-Regular"
}
.card .song{
    text-align: center;
    margin: .5em 0;
    padding: 5px 0;
    font-size: 1.5em;
    background-color: burlywood;
    font-family: "ModernAntiqua-Regular";
}
$i:0;
@for $i from 0 through 29 {
.cards-slider.active-slide-#{$i} #card-#{$i} {
    opacity: 1;
    margin: 0.4% 0 0;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
    .details {
        opacity: 1; 
        display: block
    } 
}

}
.col {
    height: 100vh;
    margin: 0;
    position: relative; 
    z-index: 1;
    top:0;
}
    
.col:before, .col:after {
    content: '';
    display: block;
    width: 2%;
    height: 100vh;
    background: linear-gradient(to right, #f5f4f4 17%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 1.3em;
    z-index: 2; 
}
.col:after {
    left: auto;
    top: 1.3em;
    right: 0;
    background: linear-gradient(to left, #f5f4f4 25%, rgba(0, 0, 0, 0) 100%);
} 
    
.cards-slider-wrapper {
    top: 0;
    display: flex;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cards-slider-wrapper .card {
    flex: 1;
    top:0;
    min-width: 300px;
    opacity: 0.7;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    transform: scale(0.8);

}
    
.direcciones{
    position: absolute;
    z-index: 4;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 20em;
}
    
.mr-9{
    margin: 0 35% 0 0;
}
.ml-9{
    margin: 0 0 0 35%;
}
    
.btn-border button{
    border: 0;
    width: 1.2em;
    font-size: 2.5em;
    border-radius: 4em;
    cursor: pointer;
}
    
.cards-slider {
    position: relative;
    max-width: 215px;
    margin: 0 9.5%; 
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 217px;
        outline: 2px solid #BA55D3; 
        position: absolute;
        top: 5.5em;
        left: 23%; 
    }
}
.listSongName{
    display: flex;
}

.listSong{
    font-family: "ModernAntiqua-Regular";
}

.options{
    display: flex;
    justify-content: space-around;
    padding: 5px 2px;
    width: 100%;
    font-size: 12px;
}

.options1{
    text-align: left;
    width: 50%;
    margin: 0;
}
.options1 h5{
    margin: 0;
}
.options2{
    width: 10%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.options3{
    width: 10%;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.options4{
    width: 25%;
    margin: 0;
    text-align: center;
}
.options4 h5{
    margin: 0;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 400px) 
and (max-width: 520px){
    .cards-slider {
        max-width: 218px;
        margin: 0 13%; 
        &:after {
            height: 220px;
            top: 5.2em;
            left: 32%; 
        }
    }
    .col:before, .col:after {
        width: 10%; 
      }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 521px) 
and (max-width: 600px) {
    .cards-slider {
        margin: 0 20%; 
    }
    .col:before, .col:after {
        width: 15%; 
      }
} 
@media only screen and (min-width: 601px) 
and (max-width: 768px) {

    .cards-slider {
        margin: 0 27%;
    }
    .col:before, .col:after {
        width: 20%; 
      }
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) 
and (max-width: 992px) {
    header{
        height: 60px;
        line-height: 60px;
        h1{
            font-size: 1.8em;
        }
    }
    .cards-slider {
        margin: 0 31.5%; 
    }
    .col:before, .col:after {
        width: 30%; 
      }
    .options1{
        font-size: 13px
    }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) 
and (max-width: 1200px) {
    header{
        height: 70px;
        line-height: 70px;
        h1{
            font-size: 2em;
        }
    }
    .cards-slider {
        margin: 0 35.5%; 
    }
    .col:before, .col:after {
        width: 34%; 
        background: linear-gradient(to right, #f5f4f4 50%, rgba(0, 0, 0, 0) 100%);
      }

    .col:after {
        background: linear-gradient(to left, #f5f4f4 50%, rgba(0, 0, 0, 0) 100%);
    } 
    .options1{
        font-size: 13px
    }
} 
@media only screen and (min-width: 1201px) 
and (max-width: 1600px) {
    header{
        height: 80px;
        line-height: 80px;
        h1{
            font-size: 2em;
        }
    }
    .app{
        height: 100vh;
    }
    .cards-slider {
        max-width: 238px;
        margin: 0 38%; 
        &:after {
            height: 238px;
            top: 5.3em;
            left: 15%; 
        }
    }
    .col:before, .col:after {
        width: 40%; 
        height: 110vh;
        background: linear-gradient(to right, #f5f4f4 17%, rgba(0, 0, 0, 0) 100%);
      }

    .card img {
        max-width: 240px;
        height: 240px;
        margin: 4% auto;
        display: block; 
    }

    .options1{
      font-size: 15px
    }
      .col:after {
        height: 110vh;
        background: linear-gradient(to left, #f5f4f4 25%, rgba(0, 0, 0, 0) 100%);
      } 
}