@font-face{
    font-family: "ModernAntiqua-Regular";
    src: url(../fuentes/ModernAntiqua-Regular.ttf)
}
@font-face{
    font-family: "OpenSansCondensed-Bold";
    src: url(../fuentes/OpenSansCondensed-Bold.ttf)
}
@font-face{
    font-family: "OpenSansCondensed-LightItalic";
    src: url(../fuentes/OpenSansCondensed-LightItalic.ttf)
}
@font-face{
    font-family: "Inconsolata-Regular";
    src: url(../fuentes/Inconsolata-Regular.ttf)
}
@font-face{
    font-family: "KirangHaerang-Regular";
    src: url(../fuentes/KirangHaerang-Regular.ttf)
}
@font-face{
    font-family: "Pacifico-Regular";
    src: url(../fuentes/Pacifico-Regular.ttf)
}
@font-face{
    font-family: "Fascinate-Regular";
    src: url(../fuentes/Fascinate-Regular.ttf)
}
@font-face{
    font-family: "Molle-Regular";
    src: url(../fuentes/Molle-Regular.ttf)
}
@font-face{
    font-family: "Kavoon-Regular";
    src: url(../fuentes/Kavoon-Regular.ttf)
}